*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#f0f0f0;
    color: #333;
    font-family: poppins, sans-serif;
}
.inicio-cabecalho h1{
    border-bottom: 2px solid #333;
    width: 400px;
    text-align: left;
}
.inicio-cabecalho p{
    width: 350px;
    margin-top: 2%;
}
section:nth-of-type(2) h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interface{
    margin: 2%;
}
#adicionar, #excluir{
    background-color: rgba(0, 0, 0, 0.663);
    transition: .2s;
    font-size: 20px;
}
#adicionar:hover{
    transform: scale(1.05);
    background-color: green;
}
#excluir:hover{
    transform: scale(1.05);
    background-color: red;
}
.adicionar-tarefa{
    margin: 10px 0px;
}
.adicionar-tarefa input{
    padding: 5px 10px;
    font-size: 15px;
}
.excluir-tarefas input{
    padding: 5px 10px;
    font-size: 15px;
}
/* Minhas tarefas */
section:nth-of-type(2) h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.minhas-tarefas{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.tarefas-simples{
    display: flex;
}
.minhas-tarefas ul{
    display: flex;
    justify-content: top;
    align-items: top;
    flex-direction: column;
}
.minhas-tarefas ul li{
    text-align: left;
    margin: 0px 20px;
    list-style-type: none;
    width: 300px; 
}
.tarefas-simples ul span{
    border-bottom: 3px solid gray;
    width: 300px;
    color: black;
    font-weight: 600;
}
/* HORARIO */
section:nth-of-type(1){
    margin-top: 2%;
}
#segundos{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    font-size: 65px;
    background-color: gray;
    color: black;
    margin: 0px 500px;
}
/* RESPONSIVIDADE */
@media screen and (max-width: 780px) {
    .inicio-cabecalho h1{
        margin-top: 2%;
        width: 300px;
        font-size: 23px;
    }
    .inicio-cabecalho p{
        width: 300px;
        font-size: 15px;
        padding-bottom: 10px;
    }
    #segundos{
        margin: 40px 30px;
        font-size: 50px;
        box-shadow: 2px 2px 20px black;
        border-radius: 10px;
    }
    section:nth-of-type(2) h1{
        margin-top: 5%;
    }
    .tarefas-simples{
        width: 100%;
        justify-content: left;
        overflow-x: scroll;
        margin-left: 50px;
    }
    section:nth-of-type(2) h4{
        width: 70%;
        margin: 10px 10px;
    }
}


